* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: black;
  background-color: #8E57ED;
}

body::-webkit-scrollbar {
  width: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px black;
}

body::-webkit-scrollbar-thumb {
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  background: #8E57ED;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  width: 200px;
  margin-left: 20px;
}

.header__menu {
  margin-right: 10px;
}

.header__menu--profile {
  margin-right: 8px;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.header__menu--profile img {
  width: 45px;
}

.header__menu ul {
  display: none;
  width: 100px;
  padding: 0;
  position: absolute;
  margin: 0 0 0 0px;
  list-style: none;
  text-align: right;
}

.header__menu ul li {
  margin: 10px 0;
  color: #ffffff;
}

.header__menu ul li a {
  text-decoration: none;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main {
  height: 280px;
  padding-top: 130px;
  text-align: center;
}

.main__title {
  color: #ffffff;
  margin: 15px 0;
  font-size: 25px;
}

.input {
  border: 2px solid #ffffff;
  height: 50px;
  width: 70%;
  padding: 0 20px;
  border-radius: 25px;
  color: #ffffff;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}

::placeholder {
  color: #ffffff;
}

.carousel {
  width: 100%;
  overflow-x: scroll;
  padding: 30px;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

.carousel__item {
  width: 190px;
  height: 250px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #2a9a60;
  overflow: hidden;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: 50% 50%;
}

.carousel__item:nth-child(1) {
  background-image: url(https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.carousel__item:nth-child(2) {
  background-image: url(https://images.pexels.com/photos/834863/pexels-photo-834863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.carousel__item:nth-child(3) {
  background-image: url(https://images.pexels.com/photos/904276/pexels-photo-904276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.carousel__item:nth-child(4) {
  background-image: url(https://images.pexels.com/photos/109919/pexels-photo-109919.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.carousel__item:nth-child(5) {
  background-image: url(https://images.pexels.com/photos/1595387/pexels-photo-1595387.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.carousel__item:nth-child(6) {
  background-image: url(https://images.pexels.com/photos/3204349/pexels-photo-3204349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.carousel__item:nth-child(7) {
  background-image: url(https://images.pexels.com/photos/3184339/pexels-photo-3184339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.carousel::-webkit-scrollbar {
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 2px black;
}

.carousel::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 5px;
  background: #8E57ED;
}

.carousel__item:hover ~ .carousel__item {
  transform: translate3d(50px, 0, 0);
}

.carousel__container:hover .carousel__item {
  opacity: .3;
}

.carousel__container:hover .carousel__item:hover {
  transform: scale(1.5);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */